.employee-container {
  position: relative;
  background-image: url('emp2.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 50px; 
}

.image-overlay {
  position: relative;
  z-index: 1; 
}

.employee-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 255, 0.5)); 
  z-index: 0; 
}

.heading{
  text-shadow: 2px 2px white;
}
.message {
  font-size: 24px;
  text-shadow: 1px 1px white;
  font-weight: bolder;
}