
.section-listings {
    padding: 20px;
    background-image: linear-gradient( 109.1deg,  rgba(181,73,91,1) 7.1%, rgba(225,107,140,1) 86.4% );
   
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
  }
  
  .card {
    flex: 0 0 calc(33.33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .card-img img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .card-details {
    padding: 16px;
  }
  
  .popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .btn{
   align-items: center;
  }
  
  
  